@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  height: 90vh;
  width: 90vw;
}

.container {
  width: 100%;
  height: 100%;
  padding: 50px;
  /* height: 93%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 7px; */
}

#mainCardContainer {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.card {
  border: 1px solid black;
  border-radius: 5%;
  width: 30%;
  height: 90%;
  background-color: #eeeeee;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  height: 100%;
  width: 30%;
  padding-bottom: 29px;
}

.main img {
  height: 390px !important;
}

.card img {
  height: 360px;
  margin-top: 19px;
}

.dataContent {
  background-color: white;
  border-radius: 11px;
  height: 100%;
  margin: 15px 8px 15px 8px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dataContent h4 {
  color: #ccc;
}

.dataContent h2 {
  color: #000;
  text-transform: capitalize;
}

.dataContent ul {
  display: flex;
}

aside {
  float: right;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

aside::-webkit-scrollbar {
  width: 12px;  
}

aside::-webkit-scrollbar-track {
  background-color: transparent;

}

aside::-webkit-scrollbar-thumb {
  background-color: #888;
  height: 90px;
  border: 6px solid transparent;
  border-radius: 9px;
}

.pokeContainer {
  width: 100%;
  margin: 2px 0px;
  border-radius: 7px;
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  font-size: 2.7rem;
  text-transform: uppercase;
  font-weight: 500;
}

.pokeContainer:hover {
  margin: 7px 0px;
  transition: 0.3s;
}

.pokeContainer:hover img {
  width: 95px;
  transition: 0.3s;
}

.pokeContainer img {
  width: 125px;  
  float: right;
  margin: 5px 11px 5px 11px;
  /* border: 1px solid black;
  border-radius: 50%; */
}

.dados {
  display: flex;
  flex-direction: column;
}




/*                            POKE TYPES                   */

.invisible {
  opacity: 0%;
}

.pokeType {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  margin-right: 8px;
  padding: 5px 6px;
  font-size: 22px;
  color: black !important;
}

.grass {
  background-color: #78C850;
}

.fire {
  background-color: #F08030;
}

.water {
  background-color: #6890F0;
}

.bug {
  background-color: #A8B820;
}

.normal {
  background-color: #A8A878;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121 !important;
}

.poison {
  background-color: #A040A0;
}

.electric {
  background-color: #F8D030;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #B8A038;
}

.ghost {
  background-color: #705898;
}

.ice {
  background-color: #98D8D8;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}

.dark {
  background-color: #705B4A;
}