@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  height: 90vh;
  width: 90vw;
}

.container {
  width: 100%;
  height: 100%;
  padding: 50px;
  /* height: 93%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 7px; */
}

#mainCard {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

#data {
  /* display: flex;
  flex-direction: column; */
}

#mainCard--nameAndType {
  display: flex;
  flex-direction: column;
}

#mainCard img {
  max-height: 350px;
}

aside {
  float: right;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.pokeContainer {
  width: 100%;
  /* border: 1px solid black; */
  margin: 2px 0px;
  border-radius: 7px;
  font-family: "Poppins";
  display: flex;
  flex-direction: row;
  font-size: 1.5rem; 
}

.pokeContainer:hover {
  margin: 7px 0px;
  transition: 0.3s;
}

.pokeContainer:hover img {
  width: 85px;
  transition: 0.3s;
}

.pokeContainer img {
  width: 70px;  
  float: right;
  margin: 5px 11px 5px 11px;
}

.dados {
  display: flex;
  flex-direction: column;
}